html {
    min-height: 100vh;
    margin: 0;
}

body {
    background-color: #1B1725;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Calculator portion */

.calculator {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    border: 1px solid black;
    background-color: #A4A9AD;
    align-items: center;
}

/* Display */

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 50px;
    margin: 30px;
    height: 150px;
    width: 380px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #EDE7E3;
    word-wrap: break-word;
    word-break: break-all;

}

.equation {
    opacity: .8;
    font-size: 1.5rem;
    margin-right: 25px;
}

.result {
    font-size: 2.5rem;
    margin-right: 20px;
}

/* Buttons */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    width: 500px;
}

button {
    border: none;
    background-color: #EDE7E3;
    cursor: pointer;
    border: 1px solid black;
}

button:hover {
    opacity: 0.8;
}

.bigButtons button{
    width: 180px;
    height: 70px;
    font-size: 20px;
    margin-right: 8px;
    margin-left: 8px;
}

#clear {
    background-color: #47A8BD;
}

#delete {
    background-color: #C5283D;
}

.smallButtons button {
    width: 80px;
    height: 75px;
    font-size: 30px;
    margin: 8px;
}

